div
	p <strong>1 - Add food</strong>
	p To add new food using the bulk upload feature of the Admin Tool, you need to create a CSV file, with the following format.
	p
		table(class="inst_table", style="padding-top:10px;padding-bottom:10px;")
			thead
				tr
					th Food Product Name
					th Category
					th Origin
					th Barcode
					th Fluid
					th Energy
					th Sodium
					th Protein
					th Carb
					th Fat
					th Profile Image
					th Deleted
			tbody
				tr
					td Artic Char Jerky Chips
					td Meat / Fish
					td CSA Foods
					td
					td 4.38
					td 114.2
					td 599
					td 17
					td 2
					td 4
					td
					td NO
				tr
					td Planters Nutrition Sustaining Energy Mix Choc Nut
					td Dessert & Snacks
					td NASA Foods
					td 2900001861
					td 0
					td 250
					td 115
					td 10
					td 19
					td 17
					td
					td NO
	p The example above will add two food entries to the existing database. <strong>All other existing food entries will remain the same.</strong>
	p <strong>2 - Update food</strong>
	p To update an existing food entry, use the same format as above, but only with the updated food.
	p
		table(class="inst_table", style="padding-top:10px;padding-bottom:10px;")
			thead
				tr
					th Food Product Name
					th Category
					th Origin
					th Barcode
					th Fluid
					th Energy
					th Sodium
					th Protein
					th Carb
					th Fat
					th Profile Image
					th Deleted
			tbody
				tr
					td Planters Nutrition Sustaining Energy Mix Choc Nut
					td Dessert & Snacks
					td NASA Foods
					td <strong>029000018611</strong>
					td 0
					td 250
					td 115
					td 10
					td 19
					td 17
					td
					td NO
	p The example above will update one food entry. <strong>All other existing food entries will remain the same.</strong>
	p <strong>3 - Delete food</strong>
	p To delete an existing food entry, use the same format as above, but change the "Deleted" value to <strong>YES</strong>.
	p
		table(class="inst_table", style="padding-top:10px;padding-bottom:10px;")
			thead
				tr
					th Food Product Name
					th Category
					th Origin
					th Barcode
					th Fluid
					th Energy
					th Sodium
					th Protein
					th Carb
					th Fat
					th Profile Image
					th Deleted
			tbody
				tr
					td Artic Char Jerky Chips
					td Meat / Fish
					td CSA Foods
					td
					td 4.38
					td 114.2
					td 599
					td 17
					td 2
					td 4
					td
					td <strong>YES</strong>
	p The example above will delete one food entry. <strong>All other existing food entries will remain the same.</strong>
	p To download a template please click <a href='/templates/food_data.csv'>here</a>.
	p Note 1: The admin tool will keep the food entry in the database.
	p Note 2: The iPad app will remove the food entry from its database to prevent user from adding new food. Any food record using the deleted food will be marked with a red color in the food's name.
	p <strong>4 - Add user</strong>
	p To add new user using the bulk upload feature of the Admin Tool, you need to create a CSV file, with the following format.
	p
		table(class="inst_table", style="padding-top:10px;padding-bottom:10px;")
			thead
				tr
					th FullName
					th Is Admin?
					th Daily Target Fluid
					th Daily Target Calories
					th Daily Target Sodium
					th Daily Target Protein
					th Daily Target Carb
					th Daily Target Fat
					th Max Packets per Food Product Daily
					th Profile Image
					th Use Last Used Food Product Filter?
					th Weight
			tbody
				tr
					td 10/31 Bulk Upload Test
					td YES
					td 3000
					td 2000
					td 3500
					td 90
					td 455
					td 90
					td 20
					td IGNOREDIMAGE
					td NO
					td 90
				tr
					td 10/32 Bulk Upload Test
					td NO
					td 1500
					td 1000
					td 2000
					td 10
					td 100
					td 10
					td 10
					td IGNOREDIMAGE
					td NO
					td 90
	p The example above will add two user entries to the existing database. <strong>All other existing user entries will remain the same.</strong>
	p <strong>5 - Update user</strong>
	p To update an existing user entry, use the same format as above, but only with the updated user.
	p
		table(class="inst_table", style="padding-top:10px;padding-bottom:10px;")
			thead
				tr
					th FullName
					th Is Admin?
					th Daily Target Fluid
					th Daily Target Calories
					th Daily Target Sodium
					th Daily Target Protein
					th Daily Target Carb
					th Daily Target Fat
					th Max Packets per Food Product Daily
					th Profile Image
					th Use Last Used Food Product Filter?
					th Weight
			tbody
				tr
					td 10/32 Bulk Upload Test
					td NO
					td <b>2500</b>
					td 1000
					td 2000
					td 10
					td 100
					td 10
					td 10
					td IGNOREDIMAGE
					td <b>YES</b>
					td <b>110</b>
	
	p The example above will update one user entry. <strong>All other existing user entries will remain the same.</strong>
	p <strong>6 - Delete user</strong>
	p It isn't possible to delete an user using bulk upload. You need to go to the Admin Tool's "User Data" tab, select the desired user entry and click the "Delete" button.
	p To download a template please click <a href='/templates/user_data.csv'>here</a>.
