html
	head
		title ISS FIT - Admin Tool
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/jquery.dataTables.css')
		link(rel='stylesheet', href='/css/jquery-ui.css')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/jquery-ui.min.js')
		script(type='text/javascript', src='/js/jquery.dataTables.min.js')
		script.
			var load_data = !{tabsData};
		script.
			$(document).ready(function() {
				$('#dialog').dialog({
					autoOpen: false,
					modal: true
				});
				if (undefined != load_data.error && load_data.error.length > 0) {
					$('#message').text(load_data.error);
					$('#dialog').dialog('option', 'title', 'Error');
					$('#dialog').dialog('open');
				} else if (undefined != load_data.message && load_data.message.length > 0) {
					$('#message').text(load_data.message);
					$('#dialog').dialog('option', 'title', 'Success');
					$('#dialog').dialog('open');
				}
			});
	body(style='width:50%;margin-left:auto;margin-right:auto;text-align:center')
		.head		 
			p
			img(src='/images/logo.png', alt='', style='height:144px;')
			p
			h1 ISS FIT - Admin Tool
		.container
			div(id='dialog')
				p(id='message')
			form(action='/login',method='post')
				p
				label Username
				input(type="text", name="username", id='user-tf', style='margin-left: 10px').span4.required
				p
				label Password
				input(type="password", name="password", id='pass-tf', style='margin-left: 10px').span4.required
				p
				input(type='submit',value='Login', class="goButton")

