* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u4_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u7_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u7_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u7_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u7_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Administrator_files/u7_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u27_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u30_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u36_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u36_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u40_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u40_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u40_normal.png");
}

* html .u46_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u40_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u48_normal.png");
}

* html .u50_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u50_line.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u48_normal.png");
}

* html .u53_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u53_line.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u48_normal.png");
}

* html .u56_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u56_line.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u62_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u70_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u80_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u82_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u94_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u161_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u163_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u165_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u167_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u169_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u171_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u173_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u175_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u177_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u179_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u181_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u183_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u185_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u191_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u193_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u195_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u258_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u260_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u262_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u264_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u266_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u268_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u272_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u274_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u276_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u278_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u280_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u282_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u284_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u286_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u288_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u290_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u292_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u294_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u357_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u357_normal.png");
}

* html .u359_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u359_normal.png");
}

* html .u361_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u363_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u357_normal.png");
}

* html .u365_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u365_normal.png");
}

* html .u367_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u367_normal.png");
}

* html .u369_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u369_normal.png");
}

* html .u371_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u365_normal.png");
}

* html .u373_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u375_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u380_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u382_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u387_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u389_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u394_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u396_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u401_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u403_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u408_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u410_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u415_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u417_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u422_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u424_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u429_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u431_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u436_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u438_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u443_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u445_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u450_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u452_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u457_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u459_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u375_normal.png");
}

* html .u464_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u380_normal.png");
}

* html .u468_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u470_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u472_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u474_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u476_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u478_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u480_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u482_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u484_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u486_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u488_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u490_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u492_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u494_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u496_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u498_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u500_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u502_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u504_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u567_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u569_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u571_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u573_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u575_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u577_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u579_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u581_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u583_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u585_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u587_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u589_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u591_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u593_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u595_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u597_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u599_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u601_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u603_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u667_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u359_normal.png");
}

* html .u669_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u671_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u357_normal.png");
}

* html .u673_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u675_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u365_normal.png");
}

* html .u677_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u357_normal.png");
}

* html .u679_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u367_normal.png");
}

* html .u681_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u683_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u365_normal.png");
}

* html .u685_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u687_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u357_normal.png");
}

* html .u689_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u367_normal.png");
}

* html .u691_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u369_normal.png");
}

* html .u693_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u365_normal.png");
}

* html .u695_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u697_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u361_normal.png");
}

* html .u700_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u702_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u704_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u706_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u708_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u710_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u712_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u72_normal.png");
}

* html .u714_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u716_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u718_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u720_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u722_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u724_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u726_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u728_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u730_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u732_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u60_normal.png");
}

* html .u749_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u751_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u94_normal.png");
}

* html .u802_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u802_normal.png");
}

* html .u804_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u807_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u810_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u810_normal.png");
}

* html .u812_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u815_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u818_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u818_normal.png");
}

* html .u820_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u820_normal.png");
}

* html .u823_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u823_normal.png");
}

* html .u825_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u825_normal.png");
}

* html .u827_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u827_normal.png");
}

* html .u829_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u829_normal.png");
}

* html .u831_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u831_line.png");
}

* html .u832_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u832_line.png");
}

* html .u835_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u835_normal.png");
}

* html .u837_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u840_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u843_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u843_normal.png");
}

* html .u845_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u848_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u852_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u852_normal.png");
}

* html .u854_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u857_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u860_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u860_normal.png");
}

* html .u862_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u865_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u869_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u871_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u874_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u877_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u879_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u882_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u886_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u888_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u891_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u894_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u896_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u899_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u903_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u905_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u908_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u911_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u913_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u916_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u920_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u922_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u925_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u928_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u930_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u933_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u937_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u835_normal.png");
}

* html .u939_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u942_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u945_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u843_normal.png");
}

* html .u947_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u950_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u954_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u852_normal.png");
}

* html .u956_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u959_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u962_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u860_normal.png");
}

* html .u964_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u967_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u971_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u973_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u976_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u979_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u981_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u984_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u988_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u810_normal.png");
}

* html .u990_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u993_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u996_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u802_normal.png");
}

* html .u998_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1001_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1005_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u1007_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1010_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1013_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u1015_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1018_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1022_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u860_normal.png");
}

* html .u1024_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u1026_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u835_normal.png");
}

* html .u1028_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1031_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1034_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1037_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1039_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1041_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1046_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u860_normal.png");
}

* html .u1048_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u869_normal.png");
}

* html .u1050_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u843_normal.png");
}

* html .u1052_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1055_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1058_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1061_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1063_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1065_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1070_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u852_normal.png");
}

* html .u1072_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u1074_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u843_normal.png");
}

* html .u1076_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1079_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1082_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1085_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1087_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1089_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1094_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u860_normal.png");
}

* html .u1096_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u877_normal.png");
}

* html .u1098_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u843_normal.png");
}

* html .u1100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1106_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u804_normal.png");
}

* html .u1109_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u807_normal.png");
}

* html .u1120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1120_normal.png");
}

* html .u1122_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1122_line.png");
}

* html .u1125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1125_normal.png");
}

* html .u1127_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1127_line.png");
}

* html .u1128_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1128_line.png");
}

* html .u1129_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1129_line.png");
}

* html .u1130_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1130_line.png");
}

* html .u1131_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1131_line.png");
}

* html .u1132_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1132_line.png");
}

* html .u1133_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1133_line.png");
}

* html .u1134_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1134_line.png");
}

* html .u1135_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1135_line.png");
}

* html .u1137_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1137_line.png");
}

* html .u1138_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1138_line.png");
}

* html .u1143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1120_normal.png");
}

* html .u1145_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1145_line.png");
}

* html .u1147_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1147_line.png");
}

* html .u1148_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1148_line.png");
}

* html .u1152_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1152_line.png");
}

* html .u1155_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1155_normal.png");
}

* html .u1159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1120_normal.png");
}

* html .u1161_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1161_line.png");
}

* html .u1163_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1163_line.png");
}

* html .u1165_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1165_normal.png");
}

* html .u1167_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1167_line.png");
}

* html .u1168_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1168_line.png");
}

* html .u1169_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1169_line.png");
}

* html .u1170_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1170_line.png");
}

* html .u1171_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1171_line.png");
}

* html .u1172_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1172_line.png");
}

* html .u1173_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1173_line.png");
}

* html .u1174_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1174_line.png");
}

* html .u1175_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1175_line.png");
}

* html .u1177_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1120_normal.png");
}

* html .u1179_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1179_normal.png");
}

* html .u1181_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1181_normal.png");
}

* html .u1183_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1183_normal.png");
}

* html .u1185_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1185_line.png");
}

* html .u1186_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1186_line.png");
}

* html .u1187_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1187_line.png");
}

* html .u1189_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1189_line.png");
}

* html .u1190_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Select_Consumption__A__files/u1190_line.png");
}

