body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Register_user_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:630px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Register_user_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:115px;
    top:1065px;
    width:768px;
    height:85px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:91px;
}

.u3 {
    position:absolute;
    left:2px;
    top:34px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Register_user_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:115px;
    top:126px;
    width:768px;
    height:21px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:21px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:384px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:392px;
    top:1070px;
    width:57px;
    height:57px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u8 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:462px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u10_container {
    position:absolute;
    left:470px;
    top:1070px;
    width:57px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:386px;
    top:1072px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13 {
    position:absolute;
    left:542px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:550px;
    top:1070px;
    width:57px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:546px;
    top:1070px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u17 {
    position:absolute;
    left:466px;
    top:1071px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u19_normal {
    background-image: url('../Help_Setting_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:115px;
    top:146px;
    width:768px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:389px;
    top:164px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Help_Setting_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:115px;
    top:192px;
    width:295px;
    height:873px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:879px;
}

.u23 {
    position:absolute;
    left:2px;
    top:428px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:125px;
    top:244px;
    width:276px;
    height:317px;
    overflow:hidden;
}

#pd2u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:317px;
    
}

.u25_normal {
    background-image: url('../Help_Setting_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:45px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:13px;
    top:6px;
    width:35px;
    height:35px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:58px;
    top:16px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:251px;
    top:18px;
    width:8px;
    height:15px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:45px;
    width:275px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Help_Setting_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:181px;
    width:275px;
    height:45px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u36_container {
    position:absolute;
    left:13px;
    top:51px;
    width:35px;
    height:35px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u37 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:58px;
    top:61px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u39_container {
    position:absolute;
    left:13px;
    top:186px;
    width:35px;
    height:35px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:58px;
    top:196px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u42_container {
    position:absolute;
    left:251px;
    top:196px;
    width:8px;
    height:15px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u43 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u44_container {
    position:absolute;
    left:251px;
    top:59px;
    width:8px;
    height:15px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u45 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:90px;
    width:275px;
    height:45px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u48_container {
    position:absolute;
    left:13px;
    top:96px;
    width:35px;
    height:35px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u49 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:58px;
    top:106px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u51_container {
    position:absolute;
    left:251px;
    top:108px;
    width:8px;
    height:15px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u52 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Help_Setting_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:135px;
    width:275px;
    height:45px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u54 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u55_container {
    position:absolute;
    left:13px;
    top:141px;
    width:35px;
    height:35px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:58px;
    top:151px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u58_container {
    position:absolute;
    left:251px;
    top:153px;
    width:8px;
    height:15px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u59 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u60 {
    position:absolute;
    left:2px;
    top:0px;
    width:272px;
    height:45px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:317px;
    
}

.u61_normal {
    background-image: url('../Help_Setting_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:45px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u63_container {
    position:absolute;
    left:13px;
    top:6px;
    width:35px;
    height:35px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:58px;
    top:16px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u66_container {
    position:absolute;
    left:251px;
    top:18px;
    width:8px;
    height:15px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u67 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:45px;
    width:275px;
    height:45px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u69 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Help_Setting_files/u34_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:182px;
    width:275px;
    height:45px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u71 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u72_container {
    position:absolute;
    left:13px;
    top:51px;
    width:35px;
    height:35px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u73 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:58px;
    top:61px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u75_container {
    position:absolute;
    left:13px;
    top:187px;
    width:35px;
    height:35px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:58px;
    top:197px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u78_container {
    position:absolute;
    left:251px;
    top:197px;
    width:8px;
    height:15px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u79 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u80_container {
    position:absolute;
    left:251px;
    top:59px;
    width:8px;
    height:15px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u81 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:90px;
    width:275px;
    height:45px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u83 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u84_container {
    position:absolute;
    left:13px;
    top:96px;
    width:35px;
    height:35px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:58px;
    top:106px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u87_container {
    position:absolute;
    left:251px;
    top:108px;
    width:8px;
    height:15px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u88 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:135px;
    width:275px;
    height:45px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u90 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Help_Setting_files/u27_normal.png');
}

.u91_container {
    position:absolute;
    left:13px;
    top:141px;
    width:35px;
    height:35px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:58px;
    top:151px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u94_container {
    position:absolute;
    left:251px;
    top:153px;
    width:8px;
    height:15px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u95 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:3px;
    top:136px;
    width:272px;
    height:45px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:276px;
    height:317px;
    
}

.u97_normal {
    background-image: url('../Help_Setting_files/u34_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:270px;
    width:275px;
    height:45px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u98 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Help_Setting_files/u61_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:45px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u100 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:18px;
    top:16px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u102_container {
    position:absolute;
    left:251px;
    top:18px;
    width:8px;
    height:15px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u103 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:44px;
    width:275px;
    height:45px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u105 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:90px;
    width:275px;
    height:45px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u107 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u108_container {
    position:absolute;
    left:0px;
    top:134px;
    width:275px;
    height:45px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u109 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:180px;
    width:275px;
    height:45px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u111 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Help_Setting_files/u32_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:224px;
    width:275px;
    height:45px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:51px;
}

.u113 {
    position:absolute;
    left:2px;
    top:14px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u114_container {
    position:absolute;
    left:251px;
    top:108px;
    width:8px;
    height:15px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u115 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u116_container {
    position:absolute;
    left:251px;
    top:152px;
    width:8px;
    height:15px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u117 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u118_container {
    position:absolute;
    left:251px;
    top:198px;
    width:8px;
    height:15px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u120_container {
    position:absolute;
    left:251px;
    top:242px;
    width:8px;
    height:15px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u121 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u122_container {
    position:absolute;
    left:251px;
    top:288px;
    width:8px;
    height:15px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u123 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Help_Setting_files/u30_normal.png');
}

.u124_container {
    position:absolute;
    left:251px;
    top:58px;
    width:8px;
    height:15px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u125 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:18px;
    top:106px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:18px;
    top:60px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:18px;
    top:150px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:18px;
    top:196px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:18px;
    top:240px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:18px;
    top:286px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Help_Setting_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:410px;
    top:192px;
    width:473px;
    height:873px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:479px;
    height:879px;
}

.u133 {
    position:absolute;
    left:2px;
    top:428px;
    width:469px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Help_Setting_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:115px;
    top:192px;
    width:768px;
    height:45px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:51px;
}

.u135 {
    position:absolute;
    left:2px;
    top:14px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u136 {
    position:absolute;
    left:423px;
    top:250px;
    width:449px;
    height:807px;
    overflow:hidden;
}

#pd2u136 {
    position:absolute;
    left:0px;
    top:0px;
    width:449px;
    height:807px;
    
}

.u137 {
    position:absolute;
    left:1px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_line {
    background-image: url('../Help_Setting_files/u138_line.png');
}

.u138_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u138 {
    position:absolute;
    left:0px;
    top:26px;
    width:448px;
    height:10px;
    
}

.u139_line {
    background-image: url('../Help_Setting_files/u139_line.png');
}

.u139_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u139 {
    position:absolute;
    left:0px;
    top:70px;
    width:448px;
    height:10px;
    
}

.u140_line {
    background-image: url('../Help_Setting_files/u140_line.png');
}

.u140_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u140 {
    position:absolute;
    left:0px;
    top:114px;
    width:448px;
    height:10px;
    
}

.u142 {
    position:absolute;
    left:2px;
    top:0px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:2px;
    top:0px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u136 {
    position:absolute;
    left:0px;
    top:0px;
    width:449px;
    height:807px;
    
}

.u146 {
    position:absolute;
    left:2px;
    top:0px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:1px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_line {
    background-image: url('../Help_Setting_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u148 {
    position:absolute;
    left:0px;
    top:26px;
    width:448px;
    height:10px;
    
}

.u149_line {
    background-image: url('../Help_Setting_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u149 {
    position:absolute;
    left:0px;
    top:70px;
    width:448px;
    height:10px;
    
}

.u151 {
    position:absolute;
    left:2px;
    top:0px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_line {
    background-image: url('../Help_Setting_files/u152_line.png');
}

.u152_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u152 {
    position:absolute;
    left:0px;
    top:114px;
    width:448px;
    height:10px;
    
}

.u153_line {
    background-image: url('../Help_Setting_files/u153_line.png');
}

.u153_line {
    position:absolute;
    left:0px;
    top:4px;
    width:448px;
    height:3px;
}

.u153 {
    position:absolute;
    left:0px;
    top:158px;
    width:448px;
    height:10px;
    
}

.u155 {
    position:absolute;
    left:2px;
    top:0px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u136 {
    position:absolute;
    left:0px;
    top:0px;
    width:449px;
    height:807px;
    
}

.u156 {
    position:absolute;
    left:9px;
    top:256px;
    width:430px;
    height:544px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../Help_Setting_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:9px;
    top:41px;
    width:430px;
    height:205px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:436px;
    height:211px;
}

.u158 {
    position:absolute;
    left:2px;
    top:94px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:9px;
    top:0px;
    width:269px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u160 {
    position:absolute;
    left:406px;
    top:198px;
    width:187px;
    height:33px;
    overflow:hidden;
}

#pd1u160 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:33px;
    
}

.u161_normal {
    background-image: url('../Help_Setting_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:32px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:38px;
}

.u162 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../Help_Setting_files/u163_normal.png');
}

.u163_container {
    position:absolute;
    left:93px;
    top:0px;
    width:93px;
    height:32px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:38px;
}

.u164 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_line {
    background-image: url('../Help_Setting_files/u165_line.png');
}

.u165_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u165 {
    position:absolute;
    left:88px;
    top:1px;
    width:10px;
    height:30px;
    
}

#pd0u160 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:33px;
    
}

.u166_normal {
    background-image: url('../Help_Setting_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:0px;
    top:0px;
    width:93px;
    height:32px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:38px;
}

.u167 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../Help_Setting_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:93px;
    top:0px;
    width:93px;
    height:32px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:38px;
}

.u169 {
    position:absolute;
    left:2px;
    top:8px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_line {
    background-image: url('../Help_Setting_files/u170_line.png');
}

.u170_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:30px;
}

.u170 {
    position:absolute;
    left:88px;
    top:1px;
    width:10px;
    height:30px;
    
}

