.container {
    clear: both;
}
body {
    font-family: Verdana, Arial, sans-serif;
}
h3 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
}
a.button, span.button {
    margin-left:10px;
    height:36px;
}
#sides{
    margin:0;
    height:144px;
    width: 100%;
}
#left{
    float:left;
    width:144px;
    overflow:hidden;
}
#right{
    float:left;
    width:50%;
    overflow:hidden;
}
.inst_table, .inst_table th, .inst_table td {
    border: 1px solid black;
    border-collapse: collapse;
}
.bottom {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    float: left;    
}

