<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageFileNameSuffix</key>
	<string>jpg</string>
	<key>VoiceRecordingFileNameSuffix</key>
	<string>aac</string>
	<key>FoodConsumptionRecordModifiablePeroidInDays</key>
	<integer>10</integer>
	<key>FoodConsumptionRecordKeptPeriodInDays</key>
	<integer>10</integer>
	<key>LocalFileSystemDirectory</key>
	<string>data</string>
	<key>HelpData</key>
	<dict>
		<key>How to Login</key>
		<string>1-1-How-to-Login</string>
		<key>How to Register</key>
		<string>1-2-How-to-Register</string>
		<key>Consumption Page</key>
		<string>1-3-Consumption-Page</string>
		<key>How to Logout</key>
		<string>1-4-How-to-Logout</string>
		<key>Food Inventory Page</key>
		<string>1-5-1-Food-Inventory</string>
		<key>Voice Recording</key>
		<string>1-5-2-Voice-Recording</string>
		<key>Scan Barcode</key>
		<string>1-5-3-Scan-Barcode</string>
		<key>Snap Photo</key>
		<string>1-5-4-Snap-Photo</string>
		<key>Manually Enter a Food</key>
		<string>1-5-5-Manually-Enter-Food</string>
		<key>Add Drinking Water</key>
		<string>1-5-6-Add-Drinking-Water</string>
		<key>View Consumption</key>
		<string>1-6-1-View-Consumption</string>
		<key>Modify Tracked Foods</key>
		<string>1-6-2-Modify-Tracked-Foods</string>
		<key>Delete Tracked Foods</key>
		<string>1-6-3-Delete-Tracked-Foods</string>
		<key>Copy Foods</key>
		<string>1-6-4-Copy-Foods</string>
		<key>Types of Nutrition Info</key>
		<string>1-7-0-Types-of-Nutrition-Info</string>
		<key>Individual Food Nutrition</key>
		<string>1-7-1-Individual-Food-Nutrition</string>
		<key>Nutrient Intake Progress</key>
		<string>1-7-2-Current-Nutrient-Intake-Progress</string>
		<key>User’s Past Consumption (Admin)</key>
		<string>1-8-View-Users-Past-Consumption-Admin</string>
		<key>Update Your Profile</key>
		<string>1-9-Update-Your-Profile</string>
		<key>Update Your Profile (Admin)</key>
		<string>1-10-Update-Your-Profile-Admin</string>
		<key>How to Access Help</key>
		<string>1-11-How-to-Access-Help</string>
		<key>How to Access Settings</key>
		<string>1-12-0-How-to-Access-Settings</string>
		<key>Settings</key>
		<string>1-12-1-Application-Settings</string>
	</dict>
	<key>DailyTargetCalories</key>
	<integer>3500</integer>
	<key>DailyTargetSodium</key>
	<integer>3500</integer>
	<key>New item</key>
	<string></string>
	<key>DailyTargetFluid</key>
	<integer>2500</integer>
	<key>DailyTargetProtein</key>
	<integer>100</integer>
	<key>DailyTargetCarbs</key>
	<integer>500</integer>
	<key>DailyTargetFats</key>
	<integer>60</integer>
	<key>UserWeight</key>
	<integer>80</integer>
	<key>Categories</key>
	<dict>
		<key>All Food</key>
		<string>icon_all_food.png</string>
		<key>Vegetables / Sides</key>
		<string>icon_vegetable.png</string>
		<key>Fruit &amp; Nuts</key>
		<string>icon_fruit.png</string>
		<key>Dessert &amp; Snacks</key>
		<string>icon_dessert.png</string>
		<key>Drink</key>
		<string>icon_drink.png</string>
		<key>Breakfast</key>
		<string>icon_breakfast.png</string>
		<key>Meat / Fish</key>
		<string>icon_meat.png</string>
		<key>NASA Foods</key>
		<string>icon_nasa.png</string>
		<key>Russian Foods</key>
		<string>icon_russian.png</string>
		<key>CSA Foods</key>
		<string>icon_csa.png</string>
		<key>ESA Foods</key>
		<string>icon_esa.png</string>
		<key>JAXA Foods</key>
		<string>icon_jaxa.png</string>
		<key>All</key>
		<string>icon_fav_all.png</string>
		<key>This Week</key>
		<string>icon_fav_week.png</string>
		<key>This Month</key>
		<string>icon_fav_month.png</string>
		<key>Vitamins / Supplements</key>
		<string>icon_vitamins.png</string>
	</dict>
</dict>
</plist>
