body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Register_user_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:630px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Register_user_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:115px;
    top:1065px;
    width:768px;
    height:85px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:91px;
}

.u3 {
    position:absolute;
    left:2px;
    top:34px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Register_user_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:115px;
    top:126px;
    width:768px;
    height:21px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:21px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:384px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:392px;
    top:1070px;
    width:57px;
    height:57px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u8 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:462px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u10_container {
    position:absolute;
    left:470px;
    top:1070px;
    width:57px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:386px;
    top:1072px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13 {
    position:absolute;
    left:542px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:550px;
    top:1070px;
    width:57px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:546px;
    top:1070px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u17 {
    position:absolute;
    left:466px;
    top:1071px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u19_normal {
    background-image: url('../Photo_List_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:115px;
    top:146px;
    width:768px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:389px;
    top:164px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Photo_List_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:115px;
    top:192px;
    width:769px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:775px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:765px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Photo_List_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:128px;
    top:153px;
    width:66px;
    height:32px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:38px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:623px;
    top:203px;
    width:208px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27_normal {
    background-image: url('../Photo_List_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:811px;
    top:207px;
    width:17px;
    height:18px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:18px;
}

.u28 {
    position:absolute;
    left:2px;
    top:1px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Photo_List_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:838px;
    top:199px;
    width:34px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:38px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Photo_List_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:850px;
    top:211px;
    width:11px;
    height:11px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:17px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Photo_List_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:852px;
    top:203px;
    width:7px;
    height:17px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:0px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../Photo_List_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:4px;
}

.u35 {
    position:absolute;
    left:851px;
    top:223px;
    width:10px;
    height:4px;
    
}

.u36_line {
    background-image: url('../Photo_List_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:10px;
    height:3px;
}

.u36 {
    position:absolute;
    left:851px;
    top:223px;
    width:10px;
    height:10px;
    
}

#u37 {
    position:absolute;
    left:838px;
    top:199px;
    width:34px;
    height:32px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u38_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:152px;
    top:293px;
    width:125px;
    height:125px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u39 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:152px;
    top:426px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:152px;
    top:293px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u42 {
    position:absolute;
    left:248px;
    top:293px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u43_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u45_container {
    position:absolute;
    left:339px;
    top:293px;
    width:125px;
    height:125px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u46 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:339px;
    top:426px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:339px;
    top:293px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u49 {
    position:absolute;
    left:435px;
    top:293px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u50_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u51 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u52_container {
    position:absolute;
    left:527px;
    top:293px;
    width:125px;
    height:125px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u53 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:527px;
    top:426px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:527px;
    top:293px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u56 {
    position:absolute;
    left:623px;
    top:293px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u57_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u59_container {
    position:absolute;
    left:152px;
    top:483px;
    width:125px;
    height:125px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u60 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:152px;
    top:616px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u62 {
    position:absolute;
    left:152px;
    top:483px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u63 {
    position:absolute;
    left:248px;
    top:483px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u64_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u65 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u66_container {
    position:absolute;
    left:339px;
    top:483px;
    width:125px;
    height:125px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u67 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:339px;
    top:616px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:339px;
    top:483px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u70 {
    position:absolute;
    left:435px;
    top:483px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u71_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u73_container {
    position:absolute;
    left:527px;
    top:483px;
    width:125px;
    height:125px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u74 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:527px;
    top:616px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:527px;
    top:483px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u77 {
    position:absolute;
    left:623px;
    top:483px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u78_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u79 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u80_container {
    position:absolute;
    left:152px;
    top:674px;
    width:125px;
    height:125px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u81 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:152px;
    top:807px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u83 {
    position:absolute;
    left:152px;
    top:674px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u84 {
    position:absolute;
    left:248px;
    top:674px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u84 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u85_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u86 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u87_container {
    position:absolute;
    left:339px;
    top:674px;
    width:125px;
    height:125px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u88 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:339px;
    top:807px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:339px;
    top:674px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u91 {
    position:absolute;
    left:435px;
    top:674px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u91 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u92_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u93 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u94_container {
    position:absolute;
    left:527px;
    top:674px;
    width:125px;
    height:125px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u95 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:527px;
    top:807px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u97 {
    position:absolute;
    left:527px;
    top:674px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u98 {
    position:absolute;
    left:623px;
    top:674px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u99_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u100 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u101_container {
    position:absolute;
    left:152px;
    top:864px;
    width:125px;
    height:125px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u102 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:152px;
    top:997px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:152px;
    top:864px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u105 {
    position:absolute;
    left:248px;
    top:864px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u106_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u107 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u108_container {
    position:absolute;
    left:339px;
    top:864px;
    width:125px;
    height:125px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u109 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:339px;
    top:997px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:339px;
    top:864px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u112 {
    position:absolute;
    left:435px;
    top:864px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u113_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u114 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u115_container {
    position:absolute;
    left:527px;
    top:864px;
    width:125px;
    height:125px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u116 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:527px;
    top:997px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u118 {
    position:absolute;
    left:527px;
    top:864px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u119 {
    position:absolute;
    left:623px;
    top:864px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u120_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u121 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u122_container {
    position:absolute;
    left:714px;
    top:293px;
    width:125px;
    height:125px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u123 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:714px;
    top:426px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u125 {
    position:absolute;
    left:714px;
    top:293px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u126 {
    position:absolute;
    left:810px;
    top:293px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u127_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u128 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u129_container {
    position:absolute;
    left:714px;
    top:483px;
    width:125px;
    height:125px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u130 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:714px;
    top:616px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:714px;
    top:483px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u133 {
    position:absolute;
    left:810px;
    top:483px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u133 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u134_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u135 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u136_container {
    position:absolute;
    left:714px;
    top:674px;
    width:125px;
    height:125px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u137 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:714px;
    top:807px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:714px;
    top:674px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u140 {
    position:absolute;
    left:810px;
    top:674px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u140 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u141_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u142 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../Photo_List_files/u38_normal.png');
}

.u143_container {
    position:absolute;
    left:714px;
    top:864px;
    width:125px;
    height:125px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:131px;
}

.u144 {
    position:absolute;
    left:2px;
    top:54px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:714px;
    top:997px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u146 {
    position:absolute;
    left:714px;
    top:864px;
    width:125px;
    height:149px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u147 {
    position:absolute;
    left:810px;
    top:864px;
    width:30px;
    height:30px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    
}

.u148_normal {
    background-image: url('../Photo_List_files/u43_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u149 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Photo_List_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:434px;
    top:203px;
    width:155px;
    height:26px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:32px;
}

.u151 {
    position:absolute;
    left:2px;
    top:5px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Photo_List_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:589px;
    top:203px;
    width:20px;
    height:26px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:5px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Photo_List_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:594px;
    top:213px;
    width:9px;
    height:7px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:13px;
}

.u155 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_line {
    background-image: url('../Photo_List_files/u156_line.png');
}

.u156_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:26px;
}

.u156 {
    position:absolute;
    left:584px;
    top:203px;
    width:10px;
    height:26px;
    
}

.u157 {
    position:absolute;
    left:444px;
    top:207px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:375px;
    top:207px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../Photo_List_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:134px;
    top:198px;
    width:86px;
    height:32px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:38px;
}

.u160 {
    position:absolute;
    left:2px;
    top:8px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../Photo_List_files/u159_normal.png');
}

.u161_container {
    position:absolute;
    left:227px;
    top:198px;
    width:86px;
    height:32px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:92px;
    height:38px;
}

.u162 {
    position:absolute;
    left:2px;
    top:8px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u163 {
    position:absolute;
    left:375px;
    top:539px;
    width:285px;
    height:155px;
    overflow:hidden;
}

#pd0u163 {
    position:absolute;
    left:0px;
    top:0px;
    width:285px;
    height:155px;
    
}

.u164_normal {
    background-image: url('../Photo_List_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:0px;
    top:0px;
    width:284px;
    height:154px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:290px;
    height:160px;
}

.u165 {
    position:absolute;
    left:2px;
    top:69px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:5px;
    top:10px;
    width:274px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:5px;
    top:46px;
    width:274px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../Photo_List_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:16px;
    top:94px;
    width:125px;
    height:41px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:47px;
}

.u169 {
    position:absolute;
    left:2px;
    top:12px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../Photo_List_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:151px;
    top:94px;
    width:125px;
    height:41px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:47px;
}

.u171 {
    position:absolute;
    left:2px;
    top:12px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

