body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Register_user_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:630px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Register_user_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:115px;
    top:1065px;
    width:768px;
    height:85px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:91px;
}

.u3 {
    position:absolute;
    left:2px;
    top:34px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Register_user_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:115px;
    top:126px;
    width:768px;
    height:21px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:21px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:384px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:392px;
    top:1070px;
    width:57px;
    height:57px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u8 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:462px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u10_container {
    position:absolute;
    left:470px;
    top:1070px;
    width:57px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:386px;
    top:1072px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13 {
    position:absolute;
    left:542px;
    top:1130px;
    width:71px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Register_user_files/u7_normal.png');
}

.u14_container {
    position:absolute;
    left:550px;
    top:1070px;
    width:57px;
    height:57px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:63px;
}

.u15 {
    position:absolute;
    left:2px;
    top:20px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:546px;
    top:1070px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u17 {
    position:absolute;
    left:466px;
    top:1071px;
    width:68px;
    height:73px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u19 {
    position:absolute;
    left:114px;
    top:126px;
    width:769px;
    height:1027px;
    overflow:hidden;
}

#pd1u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:769px;
    height:1027px;
    
}

.u20_normal {
    background-image: url('../Take_Photo_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:202px;
    top:357px;
    width:363px;
    height:243px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:369px;
    height:249px;
}

.u21 {
    position:absolute;
    left:2px;
    top:114px;
    width:359px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:784px;
    top:1124px;
    width:10px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../Take_Photo_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:2px;
    width:48px;
    height:7px;
}

.u23 {
    position:absolute;
    left:545px;
    top:638px;
    width:48px;
    height:10px;
    
}

.u24_line {
    background-image: url('../Take_Photo_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:337px;
}

.u24 {
    position:absolute;
    left:590px;
    top:308px;
    width:10px;
    height:337px;
    
}

.u25_line {
    background-image: url('../Take_Photo_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:2px;
    width:48px;
    height:7px;
}

.u25 {
    position:absolute;
    left:546px;
    top:304px;
    width:48px;
    height:10px;
    
}

.u26_line {
    background-image: url('../Take_Photo_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:2px;
    width:48px;
    height:7px;
}

.u26 {
    position:absolute;
    left:175px;
    top:638px;
    width:48px;
    height:10px;
    
}

.u27_line {
    background-image: url('../Take_Photo_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:337px;
}

.u27 {
    position:absolute;
    left:172px;
    top:308px;
    width:10px;
    height:337px;
    
}

.u28_line {
    background-image: url('../Take_Photo_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:2px;
    width:48px;
    height:7px;
}

.u28 {
    position:absolute;
    left:176px;
    top:304px;
    width:48px;
    height:10px;
    
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:769px;
    height:1027px;
    
}

.u29_normal {
    background-image: url('../Take_Photo_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:1026px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:1032px;
}

.u30 {
    position:absolute;
    left:2px;
    top:505px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:114px;
    top:1001px;
    width:769px;
    height:153px;
    overflow:hidden;
}

#pd1u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:769px;
    height:153px;
    
}

.u32_normal {
    background-image: url('../Take_Photo_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:768px;
    height:109px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:115px;
}

.u33 {
    position:absolute;
    left:2px;
    top:46px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Take_Photo_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:109px;
    width:768px;
    height:43px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:49px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Take_Photo_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:622px;
    top:115px;
    width:67px;
    height:32px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:38px;
}

.u37 {
    position:absolute;
    left:2px;
    top:8px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Take_Photo_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:693px;
    top:115px;
    width:67px;
    height:32px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:38px;
}

.u39 {
    position:absolute;
    left:2px;
    top:8px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Take_Photo_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:114px;
    top:7px;
    width:77px;
    height:77px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:83px;
}

.u41 {
    position:absolute;
    left:2px;
    top:30px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Take_Photo_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:12px;
    top:0px;
    width:92px;
    height:27px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:33px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Take_Photo_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:368px;
    top:115px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u46 {
    position:absolute;
    left:319px;
    top:7px;
    width:78px;
    height:94px;
    overflow:hidden;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:94px;
    
}

.u47_normal {
    background-image: url('../Take_Photo_files/u40_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:77px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:83px;
}

.u48 {
    position:absolute;
    left:2px;
    top:30px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:0px;
    top:80px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:216px;
    top:7px;
    width:78px;
    height:94px;
    overflow:hidden;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:94px;
    
}

.u51_normal {
    background-image: url('../Take_Photo_files/u40_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:77px;
    height:77px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:83px;
}

.u52 {
    position:absolute;
    left:2px;
    top:30px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:0px;
    top:80px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:114px;
    top:87px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Take_Photo_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:507px;
    top:115px;
    width:110px;
    height:32px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:38px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:769px;
    height:153px;
    
}

.u57_normal {
    background-image: url('../Take_Photo_files/u34_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:109px;
    width:768px;
    height:43px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:774px;
    height:49px;
}

.u58 {
    position:absolute;
    left:2px;
    top:14px;
    width:764px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Take_Photo_files/u44_normal.png');
}

.u59_container {
    position:absolute;
    left:368px;
    top:115px;
    width:32px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Take_Photo_files/u36_normal.png');
}

.u61_container {
    position:absolute;
    left:622px;
    top:115px;
    width:67px;
    height:32px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:38px;
}

.u62 {
    position:absolute;
    left:2px;
    top:8px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Take_Photo_files/u36_normal.png');
}

.u63_container {
    position:absolute;
    left:693px;
    top:115px;
    width:67px;
    height:32px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:38px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:63px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Take_Photo_files/u42_normal.png');
}

.u65_container {
    position:absolute;
    left:12px;
    top:109px;
    width:92px;
    height:27px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:33px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Take_Photo_files/u55_normal.png');
}

.u67_container {
    position:absolute;
    left:507px;
    top:115px;
    width:110px;
    height:32px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:38px;
}

.u68 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u69 {
    position:absolute;
    left:315px;
    top:240px;
    width:390px;
    height:626px;
    overflow:hidden;
}

#pd2u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:390px;
    height:626px;
    
}

.u70_normal {
    background-image: url('../Take_Photo_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:0px;
    width:387px;
    height:625px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:393px;
    height:631px;
}

.u71 {
    position:absolute;
    left:2px;
    top:304px;
    width:383px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../Take_Photo_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:387px;
    height:3px;
}

.u72 {
    position:absolute;
    left:0px;
    top:56px;
    width:387px;
    height:10px;
    
}

.u73 {
    position:absolute;
    left:15px;
    top:24px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:75px;
    top:262px;
    width:238px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_line {
    background-image: url('../Take_Photo_files/u75_line.png');
}

.u75_line {
    position:absolute;
    left:0px;
    top:4px;
    width:386px;
    height:3px;
}

.u75 {
    position:absolute;
    left:1px;
    top:544px;
    width:386px;
    height:10px;
    
}

.u76 {
    position:absolute;
    left:1px;
    top:578px;
    width:386px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u77 {
    position:absolute;
    left:0px;
    top:549px;
    width:387px;
    height:76px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd1u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:390px;
    height:626px;
    
}

.u78_normal {
    background-image: url('../Take_Photo_files/u70_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:387px;
    height:625px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:393px;
    height:631px;
}

.u79 {
    position:absolute;
    left:2px;
    top:304px;
    width:383px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_line {
    background-image: url('../Take_Photo_files/u80_line.png');
}

.u80_line {
    position:absolute;
    left:0px;
    top:4px;
    width:387px;
    height:3px;
}

.u80 {
    position:absolute;
    left:0px;
    top:56px;
    width:387px;
    height:10px;
    
}

.u81 {
    position:absolute;
    left:15px;
    top:24px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_line {
    background-image: url('../Take_Photo_files/u82_line.png');
}

.u82_line {
    position:absolute;
    left:0px;
    top:4px;
    width:386px;
    height:3px;
}

.u82 {
    position:absolute;
    left:1px;
    top:544px;
    width:386px;
    height:10px;
    
}

.u83_line {
    background-image: url('../Take_Photo_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:73px;
}

.u83 {
    position:absolute;
    left:125px;
    top:550px;
    width:10px;
    height:73px;
    
}

.u84 {
    position:absolute;
    left:1px;
    top:578px;
    width:128px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:258px;
    top:578px;
    width:131px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:130px;
    top:578px;
    width:128px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../Take_Photo_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:73px;
}

.u87 {
    position:absolute;
    left:253px;
    top:549px;
    width:10px;
    height:73px;
    
}

#u88 {
    position:absolute;
    left:0px;
    top:548px;
    width:129px;
    height:76px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u89 {
    position:absolute;
    left:258px;
    top:550px;
    width:129px;
    height:76px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u90_normal {
    background-image: url('../Take_Photo_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:15px;
    top:90px;
    width:56px;
    height:56px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:62px;
}

.u91 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:81px;
    top:110px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Take_Photo_files/u90_normal.png');
}

.u93_container {
    position:absolute;
    left:15px;
    top:158px;
    width:56px;
    height:56px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:62px;
}

.u94 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:81px;
    top:178px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Take_Photo_files/u90_normal.png');
}

.u96_container {
    position:absolute;
    left:15px;
    top:226px;
    width:56px;
    height:56px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:62px;
}

.u97 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:81px;
    top:246px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Take_Photo_files/u90_normal.png');
}

.u99_container {
    position:absolute;
    left:15px;
    top:293px;
    width:56px;
    height:56px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:62px;
    height:62px;
}

.u100 {
    position:absolute;
    left:2px;
    top:20px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:81px;
    top:313px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:15px;
    top:396px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:15px;
    top:418px;
    width:324px;
    height:101px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u104 {
    position:absolute;
    left:129px;
    top:550px;
    width:129px;
    height:76px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u69 {
    position:absolute;
    left:0px;
    top:0px;
    width:390px;
    height:626px;
    
}

.u105_normal {
    background-image: url('../Take_Photo_files/u70_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:387px;
    height:625px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:393px;
    height:631px;
}

.u106 {
    position:absolute;
    left:2px;
    top:304px;
    width:383px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_line {
    background-image: url('../Take_Photo_files/u107_line.png');
}

.u107_line {
    position:absolute;
    left:0px;
    top:4px;
    width:386px;
    height:3px;
}

.u107 {
    position:absolute;
    left:1px;
    top:544px;
    width:386px;
    height:10px;
    
}

.u108 {
    position:absolute;
    left:1px;
    top:578px;
    width:386px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u109 {
    position:absolute;
    left:0px;
    top:547px;
    width:385px;
    height:76px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u110_normal {
    background-image: url('../Take_Photo_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:50px;
    top:256px;
    width:302px;
    height:12px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:302px;
    height:12px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-2px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:50px;
    top:287px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

