html
	head
		title ISS FIT - Admin Tool
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/jquery.dataTables.css')
		link(rel='stylesheet', href='/css/jquery-ui.min.css')
		link(rel='stylesheet', href='/css/theme.css')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/jquery-ui.min.js')
		script(type='text/javascript', src='/js/jquery.dataTables.min.js')
		script.
			var load_data = !{tabsData};
		script.
			var downloadTimer, attempts = 30, deleteBusy = false;
			var userTable = null, deletedTable = null, foodTable = null;
			var userId = null;
			var deleteUser = function(id) {
				userId = id;
				$("#dialog-confirm").dialog('option', 'title', 'Confirmation');
				$("#dialog-confirm").dialog('open');
			};
			$(document).ready(function() {
				$("input[type=submit], input[type=button], a.button, span.button, button" ).button();
				$("#tabs").tabs({
					beforeLoad: function( event, ui) {
						if (undefined != userTable) {
							userTable.destroy();
						}
						if (undefined != deletedTable) {
							deletedTable.destroy();
						}
						if (foodTable != userTable) {
							foodTable.destroy();
						}
					},
					load: function( event, ui ) {
						$("input[type=submit], input[type=button], button" ).button();
						userTable = $('#userTable').DataTable( {
							"columns": [
								null,
								{ "width": "70px" }
							],
							"language": {
								"search": "Filter records:"
							},
							"order": [[ 0, "asc" ]],
							"columnDefs": [ { "type": "string", "targets": 0 }, { "targets": 1, "orderable": false, "searchable": false } ],
							"infoCallback": function( settings, start, end, max, total, pre ) {
								var txt = total == max ? '' : ' (filtered from ' + max + ' ' + ((max == 1) ? ' entry' : ' entries') + ')';
								if (total == 0) {
									return ''
								} else {
									return 'Showing ' + start + ' to ' + end + ' of ' + total + ' ' + ((total == 1) ? ' entry' : ' entries') + txt
								}
							}
						});
						deletedTable = $('#deletedTable').DataTable( {
							"columns": [
								null,
								{ "width": "150px" }
							],
							"language": {
								"search": "Filter records:"
							},
							"order": [[ 0, "asc" ]],
							"columnDefs": [ { "type": "string", "targets": 0 }, { "targets": 1, "orderable": false, "searchable": false } ],
							"infoCallback": function( settings, start, end, max, total, pre ) {
								var txt = total == max ? '' : ' (filtered from ' + max + ' ' + ((max == 1) ? ' entry' : ' entries') + ')';
								if (total == 0) {
									return ''
								} else {
									return 'Showing ' + start + ' to ' + end + ' of ' + total + ' ' + ((total == 1) ? ' entry' : ' entries') + txt
								}
							}
						});
						foodTable = $('#foodTable').DataTable( {
							"columns": [
								null,
								{ "width": "150px" },
								{ "width": "70px" }
							],
							"language": {
								"search": "Filter records:"
							},
							"order": [[ 0, "asc" ]],
							"columnDefs": [ { "type": "string", "targets": 0 }, { "searchable": false, "targets": 2, "orderable": false } ],
							"infoCallback": function( settings, start, end, max, total, pre ) {
								var txt = total == max ? '' : ' (filtered from ' + max + ' ' + ((max == 1) ? ' entry' : ' entries') + ')';
								if (total == 0) {
									return ''
								} else {
									return 'Showing ' + start + ' to ' + end + ' of ' + total + ' ' + ((total == 1) ? ' entry' : ' entries') + txt
								}
							}
						});
					},
					create: function( event, ui ) {
						$("#tabs").tabs("option", "active", load_data.selectedTab);
					}
				});
				$('#dialog').dialog({
					autoOpen: false,
					modal: true,
					buttons: {
						Ok: function() {
							$( this ).dialog( "close" );
						}
					}
				});
				function startDownloadCheck(checkDownload) {
					downloadTimer = window.setInterval( function() {
						$.get('/delete/refresh/' + userId, function(data) {
							if (data) {
								if (data.success) {
									window.clearInterval( downloadTimer );
									window.location.href = '/delete/execute/' + userId;
									userId = null;
									return;
								} else if (data.downloadComplete == -1) {
									userId = null;
									return window.clearInterval( downloadTimer );
								}
							}
							attempts--;
							if (attempts <= 0) {
								userId = null;
								window.clearInterval( downloadTimer );
							}
						});
					}, 1000 );
				}
				$("#dialog-confirm").dialog({
					autoOpen: false,
					modal: true,
					position: { my: 'bottom', at: 'center', of : window },
					buttons: {
						Ok: function() {
							if (deleteBusy) return;
							deleteBusy = true;
							$( this ).dialog( "close" );
							window.location.href = '/delete/' + userId;
							setTimeout(function() { deleteBusy = false; }, 300);
							setTimeout(function() { startDownloadCheck(); }, 1000);

							$('#message').text('Wait for operation to finish');
							$('#dialog').dialog('option', 'title', 'Progress');
							$('#dialog').dialog('open');
						},
						Cancel: function() {
							$( this ).dialog( "close" );
							userId = null;
						}
					}
				});
				if (undefined != load_data.error && load_data.error.length > 0) {
					$('#message').text(load_data.error);
					$('#dialog').dialog('option', 'title', 'Error');
					$('#dialog').dialog('open');
				} else if (undefined != load_data.message && load_data.message.length > 0) {
					$('#message').text(load_data.message);
					$('#dialog').dialog('option', 'title', 'Success');
					$('#dialog').dialog('open');
				}
			});
	body
		.head
			#sides
				#left
					img(src='/images/logo.png', alt='', style='float: left;height:144px;')
				#right
					h1(style='float: left;height:144px;') ISS FIT - Admin Tool
		.container
			div(id='dialog')
				p(id='message')
			div(id='dialog-confirm')
				p.
					Are you sure you want to delete all food record data?
			#tabs
				ul
					li
						a(href="/users", id="user") User Data
					li
						a(href="/foods", id="food") Food Data
					li
						a(href="/reports", id="report") Reports
					li
						a(href="/import", id="import") Import
					li
						a(href="/delete", id="delete") Delete
					li
						a(href="/instructions", id="instructions") Instructions
		if hideLogout
			.bottom
				a(href='/logout', class='button') Logout
