.page-header
	h2!= message
div
	form(action='/reports',method='POST')
		p
			input(type='radio', value='0', checked="true", id='radioReport', name='radioReport')
			| User Food Data Report
		p
			select(id='users', name='users', multiple='true', style="height:200px;width:200px")
				for user in users
					option(value=user.id) #{user.name}
		p
			input(type='radio', value='1', id='radioReport', name='radioReport')
			| All Users Food Data Reports
		p
			input(type='checkbox', name='details')
			| Add food nutrition information in report
		div(style='height: 50px; width: 80%;')
			div(style='width:41%;float:left;')
				input(type='text', id='startDate', name='startDate', style='margin-right: 1%;')
				| Start date
			div(style='width:41%;float:left;')
				input(type='text', id='endDate', name='endDate', style='margin-right: 1%;')
				| End date
		p
			input(type='submit',value='Run', class='goButton')
script.
	$(function() {
		$( "#startDate" ).datepicker();
		$( "#endDate" ).datepicker();
	});
